.footer{
    width: 100%;
    height: 250px;
    background: #393939;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
.footer a{
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.footer a:hover{
    color:#7bb57c;
}
.logo{
    margin-top: 20px;
}
.social img {
    height: auto;
    width: 40px;
    margin-top: 40px;
}